@using FinalProject.Controllers
@{
    ViewBag.Title = "Detailed Search";
}

<h2>Detailed Search</h2>

@using (Html.BeginForm("SearchResults", "Flights", FormMethod.Get))
{
    <p class="form-group">
        Date: @Html.TextBox("SelectedDate", "yyyy-MM-DD", new { @class = "form-control" } )

        Departure City: @Html.DropDownList("SelectedDepartureCity", (SelectList)ViewBag.AllCities, new { @class = "form-control"})


        Arrival City: @Html.DropDownList("SelectedArrivalCity", (SelectList)ViewBag.AllCities, new { @class = "form-control" })


        Date: 


        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}
