
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<img src="@Url.Content("~/Images/unnamed.png")" />


@Html.ActionLink("Search Flights", "DetailedSearch", "Flights", null, new { @class = "btn btn-default btn-block" })